<header style="padding: 15px 0; background-color: #201f1d">
	<nav>
		<ul
			style="
				list-style: none;
				display: flex;
				justify-content: space-around;
			"
		>
			<li style="display: inline-block">
				<h5>
					<a
						style="text-decoration: none; color: #aa0d3f"
						href="{% url 'inicio' %}"
						>INICIO</a
					>
				</h5>
			</li>
			<li style="display: inline-block">
				<h5>
					<a
						style="text-decoration: none; color: #aa0d3f"
						href="{% url 'agregarFamiliar' %}"
						>AGREGAR FAMILIAR</a
					>
				</h5>
			</li>
			<li style="display: inline-block">
				<h5>
					<a
						style="text-decoration: none; color: #aa0d3f"
						href="{% url 'agregarAmigo' %}"
						>AGREGAR AMIGO</a
					>
				</h5>
			</li>
			<li style="display: inline-block">
				<h5>
					<a
						style="text-decoration: none; color: #aa0d3f"
						href="{% url 'agregarColega' %}"
						>AGREGAR COLEGA</a
					>
				</h5>
			</li>
			<li style="display: inline-block">
				<h5>
					<a
						style="text-decoration: none; color: #aa0d3f"
						href="{% url 'busquedaFormulario' %}"
						>BUSCAR
					</a>
				</h5>
			</li>
		</ul>
	</nav>
</header>
