* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formulario-main {
    background-color: #252525;
    height: calc(100vh - 60px);
}

.formulario-from {
    width: 80%;
    margin: 0 auto;
    padding: 55px;
}

.formulario-h4 {
    color: white;
    text-align: center;
}

.formulario-div-enviar {
    display: flex;
    justify-content: center;
}
