{% extends 'index.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/agregar_contacto.css'%}" />
{% endblock %} {% block title %}
<title>Agregar Contacto</title>
{% endblock %} {% block main %}
<main class="agregar_contacto-main">
    <div class="agregar_contacto-div-wrapper">
        <div class="mb-3 agregar_contacto-div">
            <a
                class="form-control agregar_contacto-a"
                href="{% url 'agregarFamiliar' %}"
                >AGREGAR FAMILIAR</a
            >
        </div>
        <div class="mb-3 agregar_contacto-div">
            <a
                class="form-control agregar_contacto-a"
                href="{% url 'agregarAmigo' %}"
                >AGREGAR AMIGO</a
            >
        </div>
        <div class="mb-3 agregar_contacto-div">
            <a
                class="form-control agregar_contacto-a"
                href="{% url 'agregarColega' %}"
                >AGREGAR COLEGA</a
            >
        </div>
    </div>
</main>
{% endblock %}
