{% extends 'index.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/formulario.css'%}" />
{% endblock %} {% block title %}
<title>Formulario</title>
{% endblock %} {% block main %}
<main class="formulario-main">
    <form action="" method="POST" class="formulario-from">
        {% csrf_token %}

        <h4 class="formulario-h4">Información Personal:</h4>

        <div class="form-floating mb-3">
            <input
                type="text"
                class="form-control"
                id="id_nombre"
                name="nombre"
            />
            <label for="id_nombre">Nombre y Apellido:</label>
        </div>
        <div class="form-floating mb-3">
            <input
                type="text"
                class="form-control"
                id="id_email"
                name="email"
            />
            <label for="email">Email:</label>
        </div>
        <div class="form-floating mb-3">
            <input
                type="number"
                class="form-control"
                id="id_edad"
                name="edad"
            />
            <label for="id_edad">Edad:</label>
        </div>
        <div class="form-floating mb-3">
            <input
                type="date"
                class="form-control"
                id="id_registro"
                name="registro"
            />
            <label for="id_registro">Registro:</label>
        </div>

        <div class="formulario-div-enviar">
            <input class="btn btn-secondary" type="submit" value="ENVIAR" />
        </div>
    </form>
</main>
{% endblock %}
